{% extends 'layout.twig' %}

{% block opcoes %}
    <ul class="nav" xmlns="http://www.w3.org/1999/html">
        <li><a href="{{ path('produtos') }}" title="Exibe lista de produtos">Produtos</a></li>
    </ul>
{% endblock %}

{% block titulo %}<h4>Cadastrando Novo Produto</h4>{% endblock %}

{% block conteudo %}

    <form class="form-horizontal" action="{{ path('inserirProduto') }}" method="POST">

        <div class="control-group">
            <label class='control-label' for='iId'>Id:</label>
            <div class="controls">
                <input type="text" id="iId" name="id" class="span1 form-control" value="" disabled />
            </div>
            <br />
            <label class='control-label' for='iNome'>Nome:</label>
            <div class="controls">
                <input type="text" id="iNome" name="nome" class="span8 form-control" value="" required="true" />
            </div>
            <br />
            <label class='control-label' for='iValor'>Valor:</label>
            <div class="controls">
                <input type="number" id="iValor" name="valor" class="span2 form-control" value=""  min="0" step="0.01" required="true" />
            </div>
            <br />
            <label class='control-label' for='iDescricao'>Descrição:</label>
            <div class="controls">
                <textarea id="iDescricao" name="descricao" class="span8 form-control" rows="7" required="true"></textarea>
            </div>
            <br /><br />
            <div class="controls">
                <button type="submit" name="insercaoConfirmada" class="btn btn-success">Salvar</button>
                <a href="{{ path('produtos') }}" title="Cancela operação e retorna aos produtos"><button type="button" class="btn">Cancelar</button></a>
            </div>

        </div>
    </form>

{% endblock %}